.main-div{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

@media screen and (max-width: 450px){
    .main-div{  
        grid-template-columns:1fr;

    }

}
@media screen and (min-width: 450px) and (max-width: 850px){
    .main-div{  
        grid-template-columns:1fr;
    }

}